<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg w-full h-screen bg-zinc-800 p-5">
       <a href="/" class="text-blue-500 mt-4  text-1xl inline-block">Back</a>
       <h3 class="text-3xl tracking-tighter text-white mb-3 mt-4" ><%= name %></h3>
       <p class="tracking-tighter text-white"><%= data %></p>
    </div>
</body>
</html>