<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div class="main p-10 w-full min-h-screen bg-zinc-900">
        <div class="form">
            <a href="/" class="text-blue-600 mb-5 inline-block"><i class="ri-arrow-left-line"></i> Back to home</a>
            <form action="/update/<%= name %>" method="post">
                <input type="text" class="block text-zinc-400 outline-none w-full px-5 py-2 rounded-md bg-zinc-800" name="name" value="<%= name %>" disabled>
                <textarea class="block text-white outline-none resize-none mt-1 mb-1 w-full px-5 py-2 rounded-md bg-zinc-800" name="details" ><%= data %></textarea>
                <input type="submit" value="Update File" class="px-10 py-3 rounded-md bg-yellow-600 text-white mb-3 mt-2">
            </form>
        </div>
        
    </div>

</body>
</html>